
.slider {
    height: 328px;
    border-top: 1px solid silver;
    padding-top: 10px;
}
.list-group {
    margin-top: 20px;
}
.list-group a:first-child {
    padding-top: 20px;
}

.list-group a {
    background-color: blue;
    color: white;
}

.slider-img {
    width: 100%;
}

.slider-img img {
    width: 100%;
}


.list-group a:hover {
    background-color: green;
}